{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}


<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}

{% endblock %}


{% block extrastyle %}{{ block.super }}



<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
<link href="{% static 'assets/img/favicon.png' %}" rel="icon">
<script src="{% static 'js/library/bootstrap.bundle.min.js' %}"></script>


{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs ">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main" class='card  p-4 gradient-border'>
  <div class="card-header" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 75%) !important;color:white !important;font-weight:bold">
    {{ opts.verbose_name }}
  </div>  


{% block object-tools %}
{% if change and not is_popup %}
  <ul class="object-tools">

    {% block object-tools-items %}
      {% change_form_object_tools %}
    {% endblock %}

    {% comment %} <li><a href="javascript:window.print();" class="print-button historylink">Print</a></li> {% endcomment %}



  </ul>
{% endif %}

{% endblock %}

<div id="olee">

</div>

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div >
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktranslate count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% comment %} top area {% endcomment %}
{% block field_sets %}
<div class="card-body">

        {% for fieldset in adminform %}
            {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
            {% if fieldset.description %}
                <div class="description">{{ fieldset.description|safe }}</div>
            {% endif %}
            {% for line in fieldset %}
            {% if forloop.first %}
            <div class="row ">
              {% else %}
              {% if forloop.counter0|divisibleby:2 %}
            </div>
            <div class="row ">
          {% endif %}
        {% endif %}




                {% if line.fields|length == 1 %}
                    {{ line.errors }}
                {% else %}
                
                 
                {% endif %}
                {% for field in line %}
                {% if not field.is_readonly %}
                <div class="form-group col-md-6">
                    <label class="border-bottom">{{ field.label_tag }}</label>
                    {{ field.field }}
                    {% if field.field.help_text %}
                        <small class="form-text text-muted">{{ field.field.help_text|safe }}</small>
                    {% endif %}
                </div>
                {% endif %}


        

                {% endfor %}

                {% if line.fields|length > 1 %}
                
                {% endif %}

            {% endfor %}
        {% endfor %}
 

      </div>
{% endblock %}

{% comment %} top area {% endcomment %}
{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}
{% block submit_buttons_bottom %}

{% submit_row %}

{% endblock %}
{% block admin_change_form_document_ready %}
    <script id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}
            async>
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>

{% endblock %}
