{% extends 'basereport.html' %}
{% load static %}



{% block content %}
<section class="section card mb-5">

    <div class="card-body">

{% include 'form.html'%}
    <table id="itemsTable" class="table table-bordered" >
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Absent Count</th>
                <th>Present Count</th>
                <th>Leave Count</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in attendance_report_data %}
            <tr>
                <td>{{ entry.employee_name }}</td>
                <td>{{ entry.absent_count }}</td>
                <td>{{ entry.present_count }}</td>
                <td>{{ entry.leave_count }}</td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</div>
{% endblock %}
