<form method="post" class='text-center'>
    {% csrf_token %}
    <div class="row d-flex justify-content-center">


        {% for field in form %}

        <div class="col-md-3 ">

            <div class="md-form md-outline">
                {{ field }}
              <label class="active" for="{{ field.auto_id }}">{{ field.label }}</label>
            </div>

          </div>




        {% endfor %}
      </div>
<div class="text-center">
    <button class="btn blue-gradient btn-rounded waves-effect waves-light" type="submit">Submit</button>
</div>    
</form>