input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], input[type=tel]  {
    height: 20px !important;
}

textarea{height: 60px!important;}

.original p {
    display: none !important;
}
select {
    height: 30px !important;
}


td, th {
    padding: 0px !important;
}


.accordion {
    
    width: 330px !important;
}

.form-group  label{
    float: left !important;
}