input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], input[type=tel], textarea  {
    height: 20px !important;
}


select {
    height: 30px !important;
}


td, th {
    padding: 0px !important;
}


.accordion {
    
    width: 320px !important;
}