{% extends "admin/base.html" %}
{%load static%}



{% block extrahead %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/admin_styles.css' %}">   
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <style>
        /* Hide the Recent actions section */
        #content-related{
            display: none;
        }
    </style>         
    <script type="text/javascript" src="{% static 'js/custom_admin.js' %}"></script>

{% endblock %}
