{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/mdb.min.css" %}">
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/custom_login.css' %}"> {% endcomment %}

{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}



{% if user.is_authenticated %}
<p class="errornote">
{% blocktranslate trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktranslate %}
</p>
{% endif %}
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-a">
              <div class="card-body p-md-5 mx-md-4">

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
<div class="text-center">
  <img src="{% static 'images/logo.jpg'%}" alt="" srcset="" width="250px" height="100px">

</div>
  <!-- <h1 class="text-center">OleeTech</h1> -->
  
  <div class=" ">
    <label class="form-label" for="{{ form.username.name }}">Username</label>

    <input type="text" id="{{ form.username.name }}" class="form-control" name="{{ form.username.name }}" placeholder="Phone number or email address" style='height:auto !important;width:100% !important'  />
    {{ form.username.errors }}
  </div>

  <div class=" ">
    <label class="form-label" for="{{ form.password.name }}">Password</label>

    <input type="password" id="{{ form.password.name }}" class="form-control" name="{{ form.password.name }}"style='height:auto !important;width:100% !important' />
    {{ form.password.errors }}
    <input type="hidden" name="next" value="{{ next }}">
  </div>
  
 
  {% url 'admin_password_reset' as password_reset_url %}
  {% if password_reset_url %}
  <div class="password-reset-link">
    <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
  </div>
  {% endif %}
  <div class="submit-row text-center">
    <input type="submit" value="{% translate 'Log in' %}">
  </div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</section>

{% endblock %}
