
{% extends 'baseprint.html' %}
{% block title %}Delivery  {{ info.docno }} {% endblock %}

{% load static %}


{% block content %}

<section class="container section card mb-5 " style="color:black !important">


{% if not request.POST %}
 {% include '../form.html'%}
{% endif %}
{% if request.POST %}
<div class="text-center">
    <h1 >{{ company.name }}</h1>
    <p>{{ company.address }}</p>
</div>

<div class="row">
    <div class="col-md-6 " style=" "">
        <p>
             <b> Order No: </b>  {{ info.salesOrder }} 
        </p>
        <p>
            <b>Item: </b>  {{ info.name }}

        </p>
        <b>  Quantity :</b>  {{ info.quantity }}
    </div>

    <div class="col-md-6  " style=" "">
        <p><b>Document No : </b> {{ info.docno }}</p>
        <p>
             <b> Created : </b>{{ info.created| date:"Y-m-d"}}  
        </p>
        <p>

            <b>  Unit :  </b> {{ info.uom}}  
        </p>

    </div>
</div>




<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center " style="border: 1px solid black;"> <h2 >Production Order</h2> </div>
    <div class="col-md-4"></div>
</div>
<table id="itemsTable"   class="table table-bordered border border-dark" style="color:black !important;" >
    <thead>
        <tr>
            <th>No</th>                 
            <th>Name</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Unit</th>

            <!-- Add more item fields as needed -->
        </tr>
    </thead>
    <tbody>
        {% for item in items%}
        <tr>
            <td>{{ forloop.counter }}</td>
           
            <td>{{ item.name }}</td>
            <td>{{ item.size }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.uom }}</td>

            <!-- Add more item fields as needed -->
        </tr>
        {% endfor %}

        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
 
        </tr>

        
    </tbody>


      
</table>

<blockquote class="custom-blockquote">
    <p style='font-weight:bolder'>{{ info.remarks }} </p>
    
</blockquote>

{% endif %}

</section>

{% endblock %}
