
{% extends 'baseprint.html' %}
{% block title %}Sales Order {{ sales_order_info.docNo }} {% endblock %}

{% load static %}


{% block content %}

<section class="container-fluid section card mb-5 " style="color:black !important">


{% if not request.POST %}
 {% include '../form.html'%}
{% endif %}
{% if request.POST %}
<div class="text-center">
    <h1 >{{ company.name }}</h1>
    <p>{{ company.address }}</p>
</div>

<div class="row">
    <div class="col-md-4 " style=" "">
        <p>
             <b> Customer Name : </b>  {{ sales_order_info.customerName }} 
        </p>
        <p>
            <b>Address: </b>  {{ sales_order_info.address }}
        </p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4  " style=" ">
        <p>
             <b> Created : </b>{{ sales_order_info.created }}  
        </p>
        <p>
            <b>  Sales Employee :</b>  {{ sales_order_info.sales_employee }}
        </p>
    </div>
</div>




<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center " style="border: 1px solid black;"> <h2 >Sales Order </h2> </div>
    <div class="col-md-4"></div>
</div>
<table id="itemsTable"   class="table table-bordered border border-dark" style="color:black !important" >
    <thead>
        <tr style="border: 1px solid #000 !important;">
            <th>No</th>                 
            <th>Item Description</th>        
            <th>Name</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Color</th>
            <th>Style</th>
            <th>Po</th>
            <!-- Add more item fields as needed -->
        </tr>
    </thead>
    <tbody>
        {% for item in sales_order_items %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td style='width:250px'>
                {% if item.description  %} 
                {{ item.description }}
                {% endif %}
            </td>            
            <td>{{ item.name }}</td>
            <td>{{ item.size }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.color }}</td>
            <td>{{ item.style }}</td>
            <td>{{ item.po }}</td>
            <!-- Add more item fields as needed -->
        </tr>
        {% endfor %}
    </tbody>
 

      
</table>
<blockquote class="custom-blockquote">
    <p style='font-weight:bolder'>{{ sales_order_info.remarks }} </p>
    <footer class="blockquote-footer"><cite title="Source Title">{{ sales_order_info.owner }}</cite></footer>
</blockquote>

{% endif %}

</section>

{% endblock %}
