{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Date Wise Production Report </title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">


</head>
<body>
    <div class="container">
        <h1>{% block heading %}Report{% endblock %}</h1>
        {% block content %}{% endblock %}
    </div>


<script type="text/javascript" charset="utf8" src= "{% static 'js/library/jquery-3.7.0.js' %}"></script>
<script type="text/javascript" charset="utf8" src= "{% static 'js/library/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src= "{% static 'js/library/dataTables.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src= "{% static 'js/library/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<!-- Export Button -->


<script type="text/javascript" charset="utf8" src= "{% static 'js/library/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src= "{% static 'js/library/jszip.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src= "{% static 'js/library/buttons.html5.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src= "{% static 'js/library/buttons.print.min.js' %}"></script>

<!-- Include PDFMake -->
<script type="text/javascript" charset="utf8" src= "{% static 'js/library/pdfmake.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src= "{% static 'js/library/vfs_fonts.js' %}"></script>




    <!-- Initialize DataTables -->
    <script>
        $(document).ready(function() {
            $('#itemsTable').DataTable({
                "bLengthChange": false,  // Disable the "Show [x] entries" dropdown
                // Filter option
                "initComplete": function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var input = $('<input type="text" placeholder="Search">')
                            .appendTo($(column.header()))
                            .on('keyup change clear', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }
                            });
                    });
                },
                "paging": false,  // Disable pagination
                "scrollY": "300px",  // Set a fixed height for the table body
                "searching": false,  // Disable search

                // Export Button
                "dom": 'Bfrtip',
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],

            });
        });
    </script>


    <script>
        $(document).ready(function() {
            // Initialize date picker for the specified input ids
            $('#start_date, #end_date').datepicker({
                dateFormat: 'yy-mm-dd', // Set the desired date format
                changeMonth: true,
                changeYear: true
            });
    
            // ... Other code
        });
    </script>
    
    
</body>
</html>
